
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}



.header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Georgia', serif;
}


.content {
  padding: 20px;
  font-family: 'Verdana', sans-serif;
  color: #222;
}


.footer {
  background-color: #e0e0e0;
  color: #555;
  padding: 10px;
  text-align: center;
  font-family: 'Courier New', monospace;
}
